VITE_SUPABASE_URL=https://jrfogwueytiddnanetth.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_REPLACE_ME
VITE_CLOUDINARY_CLOUD_NAME=sykabelajar
VITE_CLOUDINARY_UPLOAD_PRESET=sykabelajar_preset
